@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700|Open+Sans:300,400,300italic,700);
/* line 2, style.scss */
.clearfix:after, .content:after, #quotes .table-row:after, #requests .table-row:after, #orders .table-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, style.scss */
.content {
  max-width: 800px;
}

/* line 15, style.scss */
#quotes .table-row, #requests .table-row, #orders .table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 17, style.scss */
#quotes .table-row:hover, #requests .table-row:hover, #orders .table-row:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 24, style.scss */
#quote .content, #request .content, #order .content, #quote-edit .content, #request-edit .content, #order-edit .content, #dashboard .content {
  padding: 20px;
}

/* line 29, style.scss */
table.itemized td {
  border: 1px dashed;
  padding: 4px 8px;
  font-size: 14px;
}

/* line 35, style.scss */
html {
  background: url(https://amyorangejuice.files.wordpress.com/2014/03/dragon-fly-and-bamboo-detail.jpg);
}

/* line 39, style.scss */
body {
  max-width: 1440px;
  margin: 0px auto!important;
  background: rgba(255, 255, 255, 0.9) !important;
}

/* line 47, style.scss */
.deleteButton {
  display: block;
}

/* line 53, style.scss */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

/* line 63, style.scss */
#modal {
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  padding: 20px;
}
/* line 72, style.scss */
#modal h1 {
  padding: 0px;
  margin: 0;
}

/* line 79, style.scss */
#nav {
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  bottom: 0;
  background: #484c53;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NGM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM4M2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #484c53 0%, #35383f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484c53), color-stop(100%, #35383f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #484c53 0%, #35383f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #484c53 0%, #35383f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #484c53 0%, #35383f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #484c53 0%, #35383f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#484c53', endColorstr='#35383f',GradientType=0 );
  /* IE6-8 */
  padding-top: 10px;
}
/* line 97, style.scss */
#nav i {
  font-size: 12px;
  text-align: center;
  color: white;
  width: 80px;
  display: block;
  padding: 10px 0;
}
/* line 104, style.scss */
#nav i:before {
  font-size: 36px;
  width: 80px;
  margin-bottom: 3px;
  text-align: center;
  display: block;
}
/* line 111, style.scss */
#nav i.active {
  color: #61cef2!important;
  cursor: default!important;
}
/* line 115, style.scss */
#nav i:hover {
  color: #9AE4FE;
  cursor: pointer;
}

/* line 123, style.scss */
#outlet {
  margin-left: 80px;
  padding: 0;
}

/* line 128, style.scss */
nav.bar {
  background: #484b52;
  color: white;
  padding: 16px;
}
/* line 132, style.scss */
nav.bar a {
  color: white;
  text-decoration: none;
}
/* line 136, style.scss */
nav.bar .confirm {
  float: right;
}

/* line 141, style.scss */
.table-header {
  background: #484b52;
  color: white;
  padding: 16px 0;
}

/* line 147, style.scss */
.table-row {
  cursor: pointer;
  padding: 16px 0;
}

/* line 153, style.scss */
#clients .name {
  /*font-family: 'Volkhov';*/
  font-weight: 700;
  color: #646464;
}
/* line 158, style.scss */
#clients .company {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
}
/* line 164, style.scss */
#clients .customer {
  width: 100%;
  border: solid #c8c8c8;
  border-width: 0px 0px 1px;
  padding: 0px 0px 0px 0px;
  position: relative;
  background: rgba(0, 0, 0, 0.015);
}
/* line 170, style.scss */
#clients .customer:first-of-type {
  border-top-width: 1px!important;
}
/* line 174, style.scss */
#clients .customer:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}
/* line 177, style.scss */
#clients .customer.open .summary {
  background: #9AE4FE;
}
/* line 181, style.scss */
#clients .detail {
  padding-bottom: 20px;
}
/* line 184, style.scss */
#clients .label {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
/* line 190, style.scss */
#clients .label .title {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 195, style.scss */
#clients .label .address {
  font-size: 20px;
  font-weight: 300;
}

/* line 203, style.scss */
.toggle {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  font-size: 24px;
  top: 0px;
  cursor: pointer;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-9ifbal");
  src: url("fonts/icomoon.eot?#iefix-9ifbal") format("embedded-opentype"), url("fonts/icomoon.woff?-9ifbal") format("woff"), url("fonts/icomoon.ttf?-9ifbal") format("truetype"), url("fonts/icomoon.svg?-9ifbal#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 223, style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 237, style.scss */
.icon-mail:before {
  content: "\e600";
}

/* line 240, style.scss */
.icon-drawer:before {
  content: "\e601";
}

/* line 243, style.scss */
.icon-reply:before {
  content: "\e602";
}

/* line 246, style.scss */
.icon-reply-all:before {
  content: "\e603";
}

/* line 249, style.scss */
.icon-forward:before {
  content: "\e604";
}

/* line 252, style.scss */
.icon-user:before {
  content: "\e605";
}

/* line 255, style.scss */
.icon-users:before {
  content: "\e606";
}

/* line 258, style.scss */
.icon-user-add:before {
  content: "\e607";
}

/* line 261, style.scss */
.icon-printer:before {
  content: "\e60c";
}

/* line 264, style.scss */
.icon-cog:before {
  content: "\e608";
}

/* line 267, style.scss */
.icon-newspaper:before {
  content: "\e60d";
}

/* line 270, style.scss */
.icon-erase:before {
  content: "\e609";
}

/* line 273, style.scss */
.icon-upload:before {
  content: "\e60a";
}

/* line 276, style.scss */
.icon-download:before {
  content: "\e60b";
}

/* line 279, style.scss */
.icon-arrow-down:before {
  content: "\e60e";
}

/* line 282, style.scss */
.icon-arrow-up:before {
  content: "\e60f";
}

/* line 285, style.scss */
.icon-danielbruce:before {
  content: "\e610";
}

/* Grid */
/* line 290, style.scss */
meta.foundation-version {
  font-family: "/5.3.0/";
}

/* line 293, style.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 297, style.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 301, style.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 305, style.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 309, style.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 313, style.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 316, style.scss */
html, body {
  height: 100%;
}

/* line 321, style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 327, style.scss */
html,
body {
  font-size: 100%;
}

/* line 330, style.scss */
body {
  background: white;
  color: #646464;
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  cursor: default;
}

/* line 344, style.scss */
a:hover {
  cursor: pointer;
}

/* line 347, style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 351, style.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 359, style.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 362, style.scss */
.left {
  float: left !important;
}

/* line 365, style.scss */
.right {
  float: right !important;
}

/* line 368, style.scss */
.text-right {
  text-align: right!important;
}

/* line 372, style.scss */
.clearfix:before, .content:before, #quotes .table-row:before, #requests .table-row:before, #orders .table-row:before, .clearfix:after, .content:after, #quotes .table-row:after, #requests .table-row:after, #orders .table-row:after {
  content: " ";
  display: table;
}

/* line 375, style.scss */
.clearfix:after, .content:after, #quotes .table-row:after, #requests .table-row:after, #orders .table-row:after {
  clear: both;
}

/* line 378, style.scss */
.hide {
  display: none;
}

/* line 381, style.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 385, style.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 389, style.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 393, style.scss */
select {
  /*width: 100%;*/
}

/* line 396, style.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /*max-width: 62.5em;*/
}

/* line 403, style.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}

/* line 406, style.scss */
.row:after {
  clear: both;
}

/* line 409, style.scss */
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

/* line 412, style.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 415, style.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

/* line 422, style.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

/* line 425, style.scss */
.row .row:after {
  clear: both;
}

/* line 427, style.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}

/* line 431, style.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}

/* line 434, style.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 438, style.scss */
.column,
.columns {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  float: left;
}

/* line 444, style.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 447, style.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

@media only screen {
  /* line 451, style.scss */
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 456, style.scss */
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 461, style.scss */
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 466, style.scss */
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 471, style.scss */
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 476, style.scss */
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 481, style.scss */
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 486, style.scss */
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 491, style.scss */
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 496, style.scss */
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 501, style.scss */
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 506, style.scss */
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 511, style.scss */
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 516, style.scss */
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 521, style.scss */
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 526, style.scss */
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 531, style.scss */
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 536, style.scss */
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 541, style.scss */
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 546, style.scss */
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 551, style.scss */
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 556, style.scss */
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 561, style.scss */
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 566, style.scss */
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 572, style.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 578, style.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 581, style.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 584, style.scss */
  .small-3 {
    width: 25%;
  }

  /* line 587, style.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 590, style.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 593, style.scss */
  .small-6 {
    width: 50%;
  }

  /* line 596, style.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 599, style.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 602, style.scss */
  .small-9 {
    width: 75%;
  }

  /* line 605, style.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 608, style.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 611, style.scss */
  .small-12 {
    width: 100%;
  }

  /* line 614, style.scss */
  .small-offset-0 {
    margin-left: 0% !important;
  }

  /* line 617, style.scss */
  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 620, style.scss */
  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 623, style.scss */
  .small-offset-3 {
    margin-left: 25% !important;
  }

  /* line 626, style.scss */
  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 629, style.scss */
  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 632, style.scss */
  .small-offset-6 {
    margin-left: 50% !important;
  }

  /* line 635, style.scss */
  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 638, style.scss */
  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 641, style.scss */
  .small-offset-9 {
    margin-left: 75% !important;
  }

  /* line 644, style.scss */
  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 647, style.scss */
  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 650, style.scss */
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 658, style.scss */
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 664, style.scss */
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 670, style.scss */
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }

  /* line 674, style.scss */
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }

  /* line 678, style.scss */
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 681, style.scss */
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 686, style.scss */
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 691, style.scss */
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 696, style.scss */
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 701, style.scss */
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 706, style.scss */
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 711, style.scss */
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 716, style.scss */
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 721, style.scss */
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 726, style.scss */
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 731, style.scss */
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 736, style.scss */
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 741, style.scss */
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 746, style.scss */
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 751, style.scss */
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 756, style.scss */
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 761, style.scss */
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 766, style.scss */
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 771, style.scss */
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 776, style.scss */
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 781, style.scss */
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 786, style.scss */
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 791, style.scss */
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 796, style.scss */
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 802, style.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 808, style.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 811, style.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 814, style.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 817, style.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 820, style.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 823, style.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 826, style.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 829, style.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 832, style.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 835, style.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 838, style.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 841, style.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 844, style.scss */
  .medium-offset-0 {
    margin-left: 0% !important;
  }

  /* line 847, style.scss */
  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 850, style.scss */
  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 853, style.scss */
  .medium-offset-3 {
    margin-left: 25% !important;
  }

  /* line 856, style.scss */
  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 859, style.scss */
  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 862, style.scss */
  .medium-offset-6 {
    margin-left: 50% !important;
  }

  /* line 865, style.scss */
  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 868, style.scss */
  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 871, style.scss */
  .medium-offset-9 {
    margin-left: 75% !important;
  }

  /* line 874, style.scss */
  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 877, style.scss */
  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 880, style.scss */
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 888, style.scss */
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 894, style.scss */
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 900, style.scss */
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }

  /* line 904, style.scss */
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }

  /* line 908, style.scss */
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  /* line 911, style.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 916, style.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 921, style.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 926, style.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 931, style.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 936, style.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 941, style.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 946, style.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 951, style.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 956, style.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 961, style.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 966, style.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 971, style.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 976, style.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 981, style.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 986, style.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 991, style.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 996, style.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 1001, style.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 1006, style.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 1011, style.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 1016, style.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 1021, style.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 1026, style.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 1031, style.scss */
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 1036, style.scss */
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 1041, style.scss */
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 1046, style.scss */
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 1051, style.scss */
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 1056, style.scss */
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 1061, style.scss */
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 1066, style.scss */
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 1071, style.scss */
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 1076, style.scss */
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 1081, style.scss */
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 1086, style.scss */
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 1091, style.scss */
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 1096, style.scss */
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 1101, style.scss */
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 1106, style.scss */
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 1111, style.scss */
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 1116, style.scss */
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 1121, style.scss */
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 1126, style.scss */
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 1131, style.scss */
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 1136, style.scss */
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 1141, style.scss */
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 1146, style.scss */
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 1152, style.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
  }

  /* line 1158, style.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 1161, style.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 1164, style.scss */
  .large-3 {
    width: 25%;
  }

  /* line 1167, style.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 1170, style.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 1173, style.scss */
  .large-6 {
    width: 50%;
  }

  /* line 1176, style.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 1179, style.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 1182, style.scss */
  .large-9 {
    width: 75%;
  }

  /* line 1185, style.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 1188, style.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 1191, style.scss */
  .large-12 {
    width: 100%;
  }

  /* line 1194, style.scss */
  .large-offset-0 {
    margin-left: 0% !important;
  }

  /* line 1197, style.scss */
  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 1200, style.scss */
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 1203, style.scss */
  .large-offset-3 {
    margin-left: 25% !important;
  }

  /* line 1206, style.scss */
  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 1209, style.scss */
  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 1212, style.scss */
  .large-offset-6 {
    margin-left: 50% !important;
  }

  /* line 1215, style.scss */
  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 1218, style.scss */
  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 1221, style.scss */
  .large-offset-9 {
    margin-left: 75% !important;
  }

  /* line 1224, style.scss */
  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 1227, style.scss */
  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 1230, style.scss */
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 1238, style.scss */
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 1244, style.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 1250, style.scss */
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }

  /* line 1254, style.scss */
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }

  /* line 1258, style.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  /* line 1261, style.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 1266, style.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 1271, style.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 1276, style.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 1281, style.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 1286, style.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 1291, style.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 1296, style.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 1301, style.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 1306, style.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 1311, style.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 1316, style.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 1321, style.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 1326, style.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 1331, style.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 1336, style.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 1341, style.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 1346, style.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 1351, style.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 1356, style.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 1361, style.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 1366, style.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 1371, style.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 1376, style.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
