<nav id="nav">
  {{#link-to 'requests' class="icon-download" tagName='i'}}Requests{{/link-to}}
  {{#link-to 'quotes' class="icon-upload" tagName='i'}}Quotes{{/link-to}}
  {{#link-to 'orders' class="icon-newspaper" tagName='i'}}Orders{{/link-to}}
  {{#link-to 'clients' class="icon-users" tagName='i'}}Clients{{/link-to}}
</nav>

<div id="outlet">
  {{outlet}}
</div>