<nav id="nav">
  {{#link-to 'quotes' class="icon-download" tagName='i'}}{{/link-to}}
  <!--#link-to 'mailbox' class="icon-upload"/link-to-->
  {{#link-to 'orders' class="icon-newspaper" tagName='i'}}{{/link-to}}
  {{#link-to 'customers' class="icon-users" tagName='i'}}{{/link-to}}
</nav>

<div id="outlet">
  {{outlet}}
</div>