<div id="dashboard">
  <div class="content">
    <img src="http://lgam.wdfiles.com/local--files/site-statistics/Total-visitors-to-22-May-2011.png">
    <h1>Sales</h1>
    <img src="http://dojotoolkit.org/documentation/tutorials/1.6/charting/images/column.png">
  </div>
</div>

